@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    height: 100vh ;
    box-sizing:border-box ;
    background-color: rgb(1, 17, 1);
    color: aliceblue;

}
.corpodotexto{
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.destaque{
    color: goldenrod;
}
.corpodotexto2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 615px ;
    gap:80px;
}
.corpodolink{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.link1:hover{
    background-color:rgb(1, 31, 1) ;
}
.titulo1{
    font-family: 'Krona One', sans-serif;
    text-align: center;
    font-size: 36px;

}
.textoapresentacao{
    font-family: 'Montserrat', sans-serif;
    font-weight:400 ;
    font-size: 24px;
    line-height: 36px;
    text-align:center ;
}
.link1{
  
    border: 4px solid goldenrod;
    border-radius: 10px;
    color: goldenrod;
    width: 280px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight:600 ;
    font-size: 25px;
    text-decoration: none;
    
}
.rodape{
    background-color: goldenrod;
    color:rgb(1, 31, 1) ;
    padding:24px;
    text-align: center;
    font-family: 'Montserrat', sans-serinf;
    font-size: 24px;
    font-weight: 400;

}